@charset "UTF-8";

/* Base Styles */

#toggle-btn,
#toggle-btn ul,
#toggle-btn li,
#toggle-btn a {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
    line-height: 1;
    font-size: 14px;
    position: relative;
    text-align: center;
}
#toggle-btn a {
    line-height: 1.3;
}
#toggle-btn {
    width: 100%;
}
#toggle-btn > ul > li {
    margin: 0 0 2px 0;
}
#toggle-btn > ul > li:last-child {
    margin: 0;
}
#toggle-btn > ul > li > a {
    font-size: 36px;
    display: block;
    color: #222;
    outline: none;
}
#toggle-btn > ul > li > a > span {
    display: block;
    padding: 6px 10px;
}
#toggle-btn > ul > li > a > span:hover,
#toggle-btn > ul > li.has-sub > a span:hover {
    color: #2980b9;
    outline: none;
}
#toggle-btn > ul > li > a:hover:focus:active {
    text-decoration: none !important;
}
#toggle-btn > ul > li.has-sub > a span {
    background: url(../nct-image/arrow_down.png) 98% center no-repeat;
}
#toggle-btn > ul > li.has-sub.active > a span {
    background: url(../nct-image/arrow_up.png) 98% center no-repeat;
}

/* Sub menu */

#toggle-btn ul ul {
    padding: 5px 12px;
    display: none;
}
#toggle-btn ul ul li {
    padding: 3px 0;
}
#toggle-btn ul ul a {
    display: block;
    color: #595959;
    font-size: 13px;
    font-weight: bold;
}
#toggle-btn ul ul a:hover {
    color: #38a642;
}
#toggle-btn > ul > li > a > p,
#toggle-btn ul ul a p {
    padding: 0 50px;
}
.content {
    margin: 0 0 40px 0;
}
